.row1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10vh;
    margin-top: 10vh;
}
.row1_item{
    position: relative;
    // width: 100vw;
    // height: 100vh;
    // background-color blue;
}
.section3_img1{
    // position: relative;
    z-index: 2;
    width: 100%;
    // background-color: red;
    height: 100%;
    // margin-top: 20vh;
      
}
// .section3_img2{
//     // background-image: url(https://dxaurk9yhilm4.cloudfront.net/images/533/Golf3_a6d5da221c5021abd741e6da07ad9aaa.jpg);
//     position: absolute;
//     top: -20%;
//     left: -20%;
//     right: -20%;
//     bottom: -20%;
//     background-size: cover;
//     background-position: 50%;
//     background-repeat: no-repeat;
//     transform: scaleY(-1);
    
// }


// .section3_img{
//     background:red;
//     top: 80%;
//     left: 15%;
//     right: 15%;
//     bottom: -7%;
//     // height: 100%;
//     position: absolute;
//     z-index: 0; 
// }

.section3_box2{
    background-color: #FFFFFF;
    padding: 6rem 4rem 3.5rem;
    z-index: 4;
    width: 23.5rem;
    top: 10%;
    position: relative;
    margin-left: -50%;
    text-align: left;
}
.box2_head{
    margin-bottom: 1.5rem;
}
.box2_text{
    line-height: 2;
    font-size: 0.8rem;
}
.explore_btn{
    padding: 7% 20%;
    background-color: #FFFFFF;
    border-color: #f3f3f3;
}

@media screen and (max-width: 1240px) {
    .section3_img1{
        width: 40%;
        // margin-left: auto;
        // margin-right: auto;
    }
    .section3_img1 img{
        width: 90vw;
        height: 100%;
    }
    .row1{
        flex-direction: column;
        
        width: 40%;
        margin: 0 auto;
        padding-bottom: 20vh;
    }
    .section3_box2{
        padding: 5vh 5vw;
        z-index: 4;
        // min-width: 23.5rem;
        // width: 100%;
        
        margin: 0 auto;
        margin-top: -20%;
        position: relative;
        text-align: left;
        width: 70vw;
        height: 100%;
    }
}

@media screen and (max-width: 700px) {
    .section3_box2 h2{
        font-size: 1.2rem;
    }
    .section3_box2 p{
        font-size: 0.7rem;
    }
}
.sectionn{
    margin: 0;
    padding: 0;

}

.containerr{
    width: 90%;
    margin: 0 auto;
}

.roww{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    position: relative;
    // margin-left: -50%;

}

.rightt{
    grid-column: 1;
    grid-row: 1;
    padding-top: 20%;
    padding: 5vh 5vw;
    z-index: 3;
    position: absolute;
    // display: flex;
    // justify-content: center;
    // align-items: center;
}